
.hidden {
    opacity: 0;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
}

.table-container {
    margin: auto !important;
}

.pagination ul{
    display: flex;
    gap:5px;
    overflow-x: scroll;
}

table {
    max-width: 100%;
    overflow-x: auto;
    font-size: 1.5rem;
}

td {
    min-width: 150px;
}

.stroke {
    text-decoration: line-through;
    opacity: 0.6;
}

.toggleButtons {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}